<h1><%= @restaurant.name %></h1>
<div class="container">
  <div class="row">
    <div class="col-12">
      <li><h3>Location:</h3> <h4><%= @restaurant.address %></h4></li>
      <li><h3>Phone Number:</h3> <h4><%= @restaurant.phone_number %></h4></li>
      <li><h3>Category:</h3> <h4><%= @restaurant.category %></h4></li>
      <% @restaurant.reviews.each do |review| %>
       <h2> Review: <br><%= review.content %> <%= review.rating %> </h2>
      <% end %>
      <%= link_to "home", restaurants_path %>
    </div>
  </div>
</div>
